.todo-item {
  background-color: white;
  margin: 5%;
  margin-left: 0;
  padding: 0;
  min-width: 50vw;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2rem;
  display: block;
  box-sizing: border-box;
  -webkit-box-shadow: -4px 9px 39px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 9px 39px 3px rgba(0,0,0,0.75);
  box-shadow: -4px 9px 39px 3px rgba(0,0,0,0.75);
  height: 50px;
}

.todo-item span{
  display: inline-block;
  min-width: 80%;
  padding-left: 5%;
  box-sizing: border-box;
}

.todo-container {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
flex-wrap: nowrap;
height: 60vh;
min-width: 60vw;
margin-left: 20vw;
margin-right: 20vw;
position: fixed;
bottom: 10vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body {
  background-image: url('./Images/buildings.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 4rem;
  background: -webkit-linear-gradient(#FF2178, #FEFAB8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.add-todo {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  width: 40%;
  height: 8vh;
  background: rgba(255,255,255,0.5);
  font-family: 'Rubik Mono One', sans-serif;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}

input[type="text"]::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}

input[type='submit'] {
  border-left-color: white;
  width: 10%;
  font-family: 'Rubik Mono One', sans-serif;
}

button {
/*color: rgba(255,255,255,0.5);*/
width: 10%;
height: 100%;
border-left-color: white;
font-size: 1em;
}

input[value="+"]{
  font-size: 40px;
  font-family: 'Rubik Mono One', cursive;
  color: #000;
}

.screenreader {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
  color: rgb(250,58,119);
}

@media screen and (max-device-width: 736px) {
  .todo-container {
    height: 60vh;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .todo-item {
    min-width: 70vw;
    height: 70px;
  }
  input[type='text'] {
    width: 60%;
    font-size: 2rem;
  }
  input[type="text"]::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .heading {
    font-size: 5rem;
    margin-top: 10vh;
  }
}
