.todo-item {
  background-color: white;
  margin: 5%;
  margin-left: 0;
  min-width: 50vw;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  padding: 2%;
  display: block;
  box-sizing: border-box;
  height: 50px;
}

.todo-item span{
  display: inline-block;
  min-width: 80%;
}

.todo-container {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
height: 60vh;
min-width: 60vw;
margin-left: 20vw;
margin-right: 20vw;
position: fixed;
bottom: 10vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body {
  background-image: url('./Images/buildings.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 4rem;
  background: -webkit-linear-gradient(#FF2178, #FEFAB8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.add-todo {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  width: 40%;
  height: 8vh;
  background: rgba(255,255,255,0.5);
  font-family: 'Rubik Mono One', sans-serif;
  border: none;
  outline: none;
  text-align: center;
}

input[type="text"]::-webkit-input-placeholder {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}

input[type='submit'] {
  border-radius: 5%;
  outline: none;
  border: none;
  width: 5%;
  font-family: 'Rubik Mono One', sans-serif;
}
button {
background-color: red;
width: 10%;
height: 104%;

input[value="+"]{
  font-size: 65px;
  font-family: Raleway Dots, cursive;
  color: #fff;
